 * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}




body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}


h2{
  font-family: 'Satisfy',cursive;
  font-size: 24px;
  text-align: left !important;
  letter-spacing: 0.5px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.producer{
  /* font-family: 'Satisfy',cursive; */
  font-size: 18px;
  text-align: left !important;
  margin-bottom: 10px;
}

.navbar {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 47%;
  margin-top: 300px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
}

.nav-link li {
  position: relative;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;

}

.hide {
  display: none;
}

.show {
  display: block;
}

a {
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  /* padding: 10px; */
  color: black;
}


.choice{
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
    margin-bottom: 20px;
}

a:hover{
  color: grey;
}

.bottom{
  padding: 10px;
}

.container{
width:992px;
position: inherit;
margin-top: 50px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

/* .youtube-video{
  margin-top: 40px;
} */



#place{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position:absolute;
  margin-left: -30px;
  margin-top: 40px;
  font-family: 'Merienda',sans-serif;
  letter-spacing: 0;
  font-size: 12px;


}

#place2{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position:absolute;
  margin-left: -30px;
  margin-top: 210px;
  font-family: 'Merienda',sans-serif;
  font-size: 12px;
}

#place3{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position:absolute;
  margin-left: -30px;
  margin-top: 450px;
  font-family: 'Merienda',sans-serif;
  font-size: 12px;
}

#place4{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position:absolute;
  margin-left: -30px;
  margin-top: 650px;
  font-family: 'Merienda',sans-serif;
  font-size: 12px;
}

#photos {
  opacity: .88;
  /* padding-bottom: 400px !important; */


}

#photos img {
  width: 32%;
  /* height:20%; */
  float:left;
  display: block;
  margin: 3px;
  margin-bottom: 5px;
  /* margin-left: 20px; */
}

ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  display: block;
  max-width: 900px;
  text-align: center;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

/* #photos {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

} */

#photo-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px ;
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  /* .nav-link {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  } */

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  #place, #place2,#place3,#place4{
    display: none;
  }

  iframe{
    width: 76vw;
    height:40vh;
  }

  @media screen and (max-width:440px) {

  #photos img{
    width:80vw;
  }

  }

  iframe{
    width:80vw;
    height:35vh;

  }

  h2{
    margin-top: 20px;
  }


    }
