
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 10px;
}

a{
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover{
  color: grey;
}

.choice{
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 25px;
  text-align:justify;

}

body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
}

.nav-link li {
  position: relative;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 47%;
  margin-top: 47%;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;
}


.all{
  padding-left: auto;
  padding-right: auto;
}


/* .container1 {
  width:800px;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */

.container{
  width:768px;
  position: inherit;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* top:50%; */
  /* transform: translate(-50%,-50%); */
  text-align: center;

}

.container1{
  box-sizing: border-box;
  padding-left: 100px;
  padding-right:100px;

}

/* .cycle-slideshow{
  min-height:30vh;
} */

.hide {
  display: none;
}

.show {
  display: block;
}

/* .box1 {
  display: flex;
  flex-direction: row;
  width:700px;
  height: 500px;
  margin: 20px;
  background-image: url('storyboard.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */

/* img{
  width:150px;
  height:150px;
  border-radius: 50%;
} */

#personas{
  width:150px;
  height:150px;
  border-radius: 50%;
}

#storyboard{
  width:700px;
  height:500px;

}

#wireframes{
  width:350px;
  height:250px;
  padding: 10px;
}

span{
  font-weight: bold;
  font-size: 28px;
}

.fas{
  font-size: 28px;
}


.video iframe{

}


@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
body{
   /* background: #392f28; */
}
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
  margin-top: 30px;
}

.header{
  text-align: center;
}


.hero{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative;
  color: #392f28;
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color:white;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
   color:white;
}
.hero img{
  width: 100%;
}
.bar{
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ;
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out;
}


@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }

}


/*
@media screen and (min-width:1200px) {

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }


} */

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-link {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    transform: translateX(100%);
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  .container1{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  #storyboard{
    width: 80vw;
    height: 40vh;
  }

  iframe{
    width: 80vw;
    height: 40vh;

  }
