
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 10px;
}

a{
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover{
  color: grey;
}

.choice{
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 25px;
  text-align:justify;

}

body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
}

.nav-link li {
  position: relative;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 47%;
  margin-top: 47%;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;
}


.all{
  padding-left: auto;
  padding-right: auto;
}


/* .container1 {
  width:800px;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */

.container{
  width:768px;
  position: inherit;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* top:50%; */
  /* transform: translate(-50%,-50%); */
  text-align: center;

}

.container1{
  box-sizing: border-box;
  padding-left: 100px;
  padding-right:100px;

}


.hide {
  display: none;
}

.show {
  display: block;
}

/* .box1 {
  display: flex;
  flex-direction: row;
  width:700px;
  height: 500px;
  margin: 20px;
  background-image: url('storyboard.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */

/* img{
  width:150px;
  height:150px;
  border-radius: 50%;
} */

#personas{
  width:150px;
  height:150px;
  border-radius: 50%;
}

#storyboard{
  width:700px;
  height:500px;

}

#wireframes{
  width:350px;
  height:250px;
  padding: 10px;
}

span{
  font-weight: bold;
  font-size: 28px;
}

.fas{
  font-size: 28px;
}


.video iframe{

}


/*
@media screen and (min-width:1200px) {

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }


} */

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-link {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    transform: translateX(100%);
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  .container1{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }



  iframe{
    width: 80vw;
    height: 40vh;

  }
