
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



h2{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3{
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

h5{
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

a{
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover{
  color: grey;
}

.choice{
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

p{
  font-family: 'Arvo', serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 25px;
  font-weight: 300;
  text-align:justify;
  color:#494949;

}

body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;

}

.nav-link li {
  position: relative;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;

}

.navbar {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 47%;
  margin-top: 47%;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;
}



.container1{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: url('agogos-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;

}

.container{
  width:768px;
  position: inherit;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* top:50%; */
  /* transform: translate(-50%,-50%); */
  text-align: center;

}




.profession{
  text-align: left !important;
  justify-content: flex-start;
  margin-top: 10px;
}

.graph{

  margin-top: 30px;
  margin-bottom: 20px;
}


li{
  list-style: none;
  justify-content:flex-start;

}



#box1{
  width:768px;
  position: inherit;
  /* margin-top: 50px; */
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  text-align: center;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding-left:20px;
  padding-right:20px;
}

#box2{
  width:768px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

#box3{
  margin-top: -120px;
}







.example-pager{
  margin-top: -270px;
  margin-left: 10px;
  color:black;
  margin-bottom: 50px;


}


.youtube-video{
  margin-top: 20px;
}
/* .cycle-slideshow{
  width:768px;
  height:250px;
} */


/* #adv-custom-pager{
  margin-top: -30px;
} */

#prev, #next{
  width: 10px;
    font-size: 25px;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    /* line-height: 50px; */
    font-weight: bold;
    padding: 0 40px;
    margin-top: -480px;


}

#personas{
  width:150px;
  height:150px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 30px;
}

#storyboard{
  width:700px;
  height:500px;
  background-size: cover;

}

#wireframes{
  width:350px;
  height:250px;
  padding: 10px;
}

#cover{
  background-size: cover;
}

#report{
  width:730px;
  height:300px;
}

/* #adv-custom-pager{
  margin-top: -100px;
} */

span{
  /* font-weight: bold; */
  font-size: 24px;
  font-family: 'Arvo', serif;
}

.fas{
  font-size: 18px;
}


.video iframe{

}

.choice{
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
body{
   /* background: #392f28; */
}
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
  margin-top: 30px;
  box-sizing: border-box;
}
.hero{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative;
  color: #392f28;
}

.header{
  text-align: center;
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color:white;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
   color:white;
}
.hero img{
  width: 100%;
}
.bar{
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ;
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out;
}


@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }


  body {
    overflow-x: hidden;
  }

  .nav-link {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    transform: translateX(100%);
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }



  #box1{
    display: flex;
    flex-direction: column;
    width: 80vw;

  }

  #box2{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height:auto;

  }

  #box3{
    margin-top: -280px;
  }

  #storyboard{
    width: 80vw;
    height: 40vh;
  }

  #report{
    width: 80vw;
    height: 20vh;
  }

  iframe{
    width: 80vw;
    height: 40vh;

  }
}

  /* @media screen and (min-width:375px) {
    .container1, .container2 {
      display: flex;
      flex-direction: column;
      width: 80vw;
      height: 60vh;
    }

    /* .hero{
      width:100vw;
      margin-left: 0;
      margin-right: 0;
    } */

    /* #storyboard{
      width: 80vw;
      height: 50vh;
    }

    #report{
      width: 80vw;
      height: 20vh;
    }

    #wireframes{
      width: 80vw;
      height: 25vh;
    }

    #articulate{
      width: 80vw;
      height: 30vh;
    }

    iframe{
      width: 80vw;
      height: 40vh;

    }  */
