
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


h2{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3{
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

p{
  font-family: 'Arvo', serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 25px;
  font-weight: 300;
  text-align:justify;
  color:#494949;

}

a{
  text-decoration: none;
  padding: 10px;
  color: black;
}

a:hover{
  color: grey;
}

.choice{
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}



body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  min-height: 4vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 18px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
}

.nav-link li {
  position: relative;
  list-style: none;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 47%;
  margin-top: 47%;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;
}



.container{
  width:768px;
  position: inherit;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* top:50%; */
  /* transform: translate(-50%,-50%); */
  text-align: center;

}


.hide {
  display: none;
}

.show {
  display: block;
}



#box1{
  width:768px;
  position: inherit;
  /* margin-top: 50px; */
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  text-align: center;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding-left:20px;
  padding-right:20px;
}

#personas{
  width:150px;
  height:150px;
  border-radius: 50%;
}

#storyboard{
  width:700px;
  height:500px;

}

#information{
  width:700px;
  height:350px;

}

#wireframes{
  width:350px;
  height:250px;
  padding: 10px;
}

#teachers{
  width:400px;
  height:275px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

#theory{
  width:750px;
  height:275px;
}

/* span{
  font-weight: bold;
  font-size: 28px;
} */

.fas{
  font-size: 28px;
}


.video iframe{

}

.choice{
  margin-bottom: 20px;
}


body {
  margin: 0;
  padding: 0;
  background: white;

  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 350;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);

  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}



@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
body{
   /* background: #392f28; */
}
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
  margin-top: 30px;
}

.header{
  text-align: center;
}


.hero{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative;
  color: #392f28;
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color:white;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
   color:white;
}
.hero img{
  width: 100%;
}
.bar{
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ;
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out;
}


@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }

}



@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-link {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    transform: translateX(100%);
  }

  .nav-link li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  .container1{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
  }

  #box1{
    display: flex;
    flex-direction: column;
    width: 80vw;

  }
  #teachers{
    width: 70vw;
    height: 25vh;
  }

  #storyboard{
    width: 80vw;
    height: 30vh;
  }

  #information{
    width: 80vw;
    height: 20vh;
  }

  #theory{
    width: 80vw;
    height: 20vh; 
  }

  iframe{
    width: 80vw;
    height: 40vh;

  }

  @media screen and (max-width:375px) {
    iframe{
      width: 80vw;
      height: 80vh;

    }

  }
